.cursor_container__x_n9C {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 100;
    pointer-events: none;
    overflow: hidden
}

.cursor_container__x_n9C .cursor_cursor__Gs2Iw {
    width: 6.25vw;
    height: 6.25vw;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%,-50%);
    transition: transform .6s var(--ease-out-expo)
}

.cursor_container__x_n9C .cursor_cursor__Gs2Iw:after {
    content: "";
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background: var(--red);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: transform .6s var(--ease-out-expo);
    z-index: 10
}

.is-cursor-active .cursor_container__x_n9C .cursor_cursor__Gs2Iw:after {
    transform: translate(-50%,-50%) scale(1)
}

.is-cursor-active.cursor-larger .cursor_container__x_n9C .cursor_cursor__Gs2Iw:after {
    transform: translate(-50%,-50%) scale(2)
}

@media(hover: none) {
    .cursor_container__x_n9C {
        display:none
    }
}

.cursor_canvas__FkJcY {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(-1) translate(-24%,24%);
    z-index: 1
}

.cursor_canvasActive__vbE08 {
    z-index: 2
}

.cursor_canvasHidden__4BVVw {
    display: none
}

.cursor_portal__3seXq {
    pointer-events: none
}

.cursor_illustration__BZT3i {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 160px;
    height: 160px;
    transform: translate3d(-50%,-50%,0);
    z-index: 1
}

.cursor_illustration__BZT3i:before {
    content: "";
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background: var(--red);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: transform .6s var(--ease-out-expo);
    z-index: 10
}

.cursor_illustrationImage__qYOf5 {
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: transform .2s var(--ease-out-expo),opacity .2s var(--ease-out-expo)
}

.cursor_illustrationActive__Nx4_x {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
    transition-timing-function: var(--ease-out-expo);
    transition-duration: .6s
}

.cursor_illustrationActive__Nx4_x:before {
    transform: translate(-50%,-50%) scale(1)
}

.cursor_illustrationActive__Nx4_x .cursor_illustrationImage__qYOf5 {
    opacity: 1;
    transform: scale(1);
    transition-duration: .8s;
    transition-delay: .1s
}

.navigation_wrapper__D6WHq {
    text-align: right
}

.navigation_list__4Sxuz {
    display: flex;
    justify-content: flex-end
}

.navigation_item__zf_6C {
    font-weight: 400;
    font-size: max(10px,.6944444444vw);
    line-height: .65;
    position: relative;
    text-transform: uppercase;
    transition: transform 2s ease,opacity 1s ease
}

.is-preloaded .navigation_item__zf_6C {
    transform: translateY(0);
    transition-timing-function: var(--ease-out-expo);
    transition-delay: calc(var(--landing-delay, 0s) + var(--item-index, 0)*.1s)
}

.navigation_item__zf_6C:hover {
    opacity: .5
}

@media(min-width: 800px) {
    .navigation_item__zf_6C {
        transform:translateY(-5.5555555556vw)
    }

    .navigation_item__zf_6C+.navigation_item__zf_6C {
        margin-left: 1.6666666667vw
    }
}

@media(max-width: 800px) {
    .navigation_item__zf_6C {
        font-size:12px;
        transform: translateY(-80px)
    }

    .navigation_item__zf_6C+.navigation_item__zf_6C {
        margin-left: 2em
    }
}

.header_header__GSKJx {
    color: var(--theme-secondary);
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50
}

.header_header__GSKJx .header_head__dyG_u {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    z-index: 2
}

.header_headerInner__tTE_R {
    padding: 36px 0;
    transition: transform 1s var(--ease-out-circ)
}

@media(min-width: 800px) {
    .header_headerInner__tTE_R {
        padding:2.7777777778vw 0
    }
}

.header_headerInner__tTE_R.header_hidden__kP_eh {
    transform: translate3d(0,-100%,0);
    transition-duration: .6s;
    transition-timing-function: var(--ease-in-quad)
}

.header_logoLink__I_hFt,.header_navigation__YgNBr {
    pointer-events: auto
}

.header_logoLink__I_hFt {
    display: inline-block;
    vertical-align: top
}

@media(min-width: 800px) {
    .header_logoLink__I_hFt {
        transform:translateX(7%)
    }
}

.header_logo__d4jIK {
    width: 110px;
    height: 15px;
    margin: auto;
    line-height: 0;
    transform: translate3d(0,calc(-5.5555555556vw * var(--shf) / var(--shf)),1px);
    transition: transform 2s ease
}

@media(min-width: 800px) {
    .header_logo__d4jIK {
        width:max(110px,7.6388888889vw * var(--shf)/var(--shf));
        height: max(15px,1.0416666667vw * var(--shf)/var(--shf))
    }
}

@media(max-width: 800px) {
    .header_logo__d4jIK {
        transform:translate3d(0,-20.5128205128vw,1px)
    }
}

.is-preloaded .header_logo__d4jIK {
    transform: translateZ(1px);
    transition-timing-function: var(--ease-out-expo);
    transition-delay: calc(var(--landing-delay, 0))
}

.header_left__h7UAD {
    display: flex;
    align-items: flex-end
}

@media(max-width: 800px) {
    .header_left__h7UAD {
        flex-grow:1;
        justify-content: space-between
    }

    .header_right__b_CJu {
        display: none
    }
}

@media(min-width: 800px) {
    .header_navigation__YgNBr {
        margin-left:5.2777777778vw
    }
}

@media(max-width: 800px) {
    .header_navigation__YgNBr {
        margin-top:-1.5384615385vw
    }
}

.header_dot___NKJZ {
    background: var(--red);
    border-radius: 100%;
    width: 6px;
    height: 6px;
    transform: scale(0);
    transition: transform .6s var(--ease-out-expo);
    position: relative;
    pointer-events: auto
}

.header_dot___NKJZ:before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    margin: auto
}

.is-preloaded .header_dot___NKJZ {
    transform: scale(1);
    transition-delay: calc(var(--landing-delay, 0) + 1s + var(--item-index, 0)*.2s)
}

.header_illustration__zbAPO {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 160px;
    height: 160px;
    transform: translate3d(-50%,-50%,0);
    z-index: 1
}

.header_illustration__zbAPO:before {
    content: "";
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background: var(--red);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: transform .6s var(--ease-out-expo);
    z-index: 10
}

.header_illustrationImage__DMQXK {
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: transform .4s var(--ease-out-expo)
}

.header_illustrationActive__L8LqO {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
    transition-timing-function: var(--ease-out-expo);
    transition-duration: .6s
}

.header_illustrationActive__L8LqO:before {
    transform: translate(-50%,-50%) scale(1)
}

.header_illustrationActive__L8LqO .header_illustrationImage__DMQXK {
    opacity: 1;
    transform: scale(1);
    transition-duration: .8s;
    transition-delay: .1s
}

.page-transition_transition__2RWRG {
    background-color: var(--white-true);
    opacity: 0;
    visibility: hidden;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 21;
    transition: opacity .4s linear,visibility .4s linear
}

.is-transitioning .page-transition_transition__2RWRG {
    opacity: 1;
    visibility: visible
}

.preloader_wrapper__NrANa {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.preloader_lottie__ks_IW {
    width: 12.3333333333vw;
    height: 12.3333333333vw
}

@media(max-width: 800px) {
    .preloader_lottie__ks_IW {
        width:45.5384615385vw;
        height: 45.5384615385vw
    }
}

.animation_animation__bOn7H {
    display: block;
    contain: style
}

.animation_childrenAsIB__13gRT * {
    display: inline-block
}

.animation_childrenAsIB__13gRT span.red,.animation_childrenAsIB__13gRT span.small {
    display: inline
}

.animation_not-ready__RRSBg {
    visibility: hidden
}

.animation_animation__bOn7H.animation_appear__Zana6 {
    --appear-y: var(--y,120%);
    pointer-events: none;
    overflow: hidden;
    padding: 1px;
    margin: -1px
}

.animation_animation__bOn7H.animation_appear__Zana6 .animation_appear_line__4beQO {
    overflow: hidden
}

.animation_animation__bOn7H.animation_appear__Zana6 .animation_appear_inner__i0GwY {
    transform: translate3d(0,var(--appear-y,0),0);
    transition: transform var(--duration-out) var(--ease-in-quad) var(--delay-out,0s);
    will-change: transform
}

.animation_animation__bOn7H.animation_appear__Zana6.animation_is-active__Ilk0W,.animation_controller__EzG_N.animation_is-active__Ilk0W .animation_animation__bOn7H.animation_appear__Zana6.animation_is-controlled__KAxdo,.animation_parent__pnMxW:hover .animation_animation__bOn7H.animation_appear__Zana6.animation_on-parent-hover__kcqiL,.animation_parent__pnMxW:hover .animation_controller__EzG_N.animation_animation__bOn7H.animation_on-parent-hover__kcqiL .animation_animation__bOn7H.animation_appear__Zana6.animation_is-controlled__KAxdo {
    --appear-y: 0;
    pointer-events: all
}

.animation_animation__bOn7H.animation_appear__Zana6.animation_is-active__Ilk0W .animation_appear_inner__i0GwY,.animation_controller__EzG_N.animation_is-active__Ilk0W .animation_animation__bOn7H.animation_appear__Zana6.animation_is-controlled__KAxdo .animation_appear_inner__i0GwY,.animation_parent__pnMxW:hover .animation_animation__bOn7H.animation_appear__Zana6.animation_on-parent-hover__kcqiL .animation_appear_inner__i0GwY,.animation_parent__pnMxW:hover .animation_controller__EzG_N.animation_animation__bOn7H.animation_on-parent-hover__kcqiL .animation_animation__bOn7H.animation_appear__Zana6.animation_is-controlled__KAxdo .animation_appear_inner__i0GwY {
    transition-duration: var(--duration-in);
    transition-delay: calc(var(--line-index, 0)*var(--line-delay, .1s) + var(--delay-in, 0s));
    transition-timing-function: var(--ease-out-expo)
}

.animation_animation__bOn7H.animation_appear__Zana6.animation_no-pointer-events__5saCK,.animation_animation__bOn7H.animation_appear__Zana6.animation_no-pointer-events__5saCK .animation_appear_inner__i0GwY,.animation_animation__bOn7H.animation_appear__Zana6.animation_no-pointer-events__5saCK .animation_appear_line__4beQO {
    pointer-events: none!important
}

.animation_animation__bOn7H.animation_appear__Zana6.animation_-instant__RAySv .animation_appear_inner__i0GwY {
    transition-duration: 0s
}

.animation_slideInner__b7Vks {
    width: 100%;
    height: 100%;
    transform: translateZ(0);
    transition: -webkit-clip-path var(--duration-out) var(--ease-out-quint) var(--delay-out,0s);
    transition: clip-path var(--duration-out) var(--ease-out-quint) var(--delay-out,0s);
    transition: clip-path var(--duration-out) var(--ease-out-quint) var(--delay-out,0s),-webkit-clip-path var(--duration-out) var(--ease-out-quint) var(--delay-out,0s);
    will-change: clip-path
}

.animation_animation__bOn7H.animation_slide__EtKxi.animation_reversed__eTySa .animation_slideInner__b7Vks,.animation_slideInner__b7Vks {
    -webkit-clip-path: inset(100% 0 0 0);
    clip-path: inset(100% 0 0 0)
}

.animation_animation__bOn7H.animation_slide__EtKxi.animation_diagonal__nu1b5 .animation_slideInner__b7Vks {
    -webkit-clip-path: inset(0 100% 100% 0);
    clip-path: inset(0 100% 100% 0)
}

.animation_animation__bOn7H.animation_slide__EtKxi.animation_reversed__eTySa.animation_diagonal__nu1b5 .animation_slideInner__b7Vks {
    -webkit-clip-path: inset(0 0 100% 100%);
    clip-path: inset(0 0 100% 100%)
}

.animation_animation__bOn7H.animation_slide__EtKxi.animation_is-active__Ilk0W .animation_slideInner__b7Vks,.animation_controller__EzG_N.animation_is-active__Ilk0W .animation_animation__bOn7H.animation_slide__EtKxi.animation_is-controlled__KAxdo .animation_slideInner__b7Vks,.animation_parent__pnMxW:hover .animation_animation__bOn7H.animation_slide__EtKxi.animation_on-parent-hover__kcqiL .animation_slideInner__b7Vks,.animation_parent__pnMxW:hover .animation_controller__EzG_N.animation_animation__bOn7H.animation_on-parent-hover__kcqiL .animation_animation__bOn7H.animation_slide__EtKxi.animation_is-controlled__KAxdo .animation_slideInner__b7Vks {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
    transition-duration: var(--duration-in);
    transition-delay: var(--delay-in,0s);
    transition-timing-function: var(--ease-out-quint)
}

.project-counter_inner__8YVd9 {
    display: inline-flex;
    align-items: center
}

.project-counter_dot__CTW2F {
    display: block;
    color: var(--red);
    width: .3em;
    height: .3em;
    margin: 0 .3em .15em;
    line-height: 1
}

.project-counter_dot__CTW2F svg {
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: top;
    overflow: visible
}

.project-title_wrapper__bBHng {
    --project-counter-font-size-ratio: 0.333;
    --project-infos-font-size-ratio: 0.41;
    --internal-title-font-size: var(--project-title-font-size,1rem);
    --counter-width: calc(var(--internal-title-font-size) * var(--project-counter-font-size-ratio) * var(--project-counter-width-ratio, 5));
    font-size: var(--project-title-font-size,1em);
    text-align: left
}

.project-title_header__1ku_1 {
    display: flex;
    align-items: center
}

.project-title_counter___7jkM {
    font-size: calc(var(--internal-title-font-size)*var(--project-counter-font-size-ratio));
    position: relative;
    text-align: left;
    width: var(--counter-width,auto)
}

.project-title_infos__RbCF1 {
    flex: 1 1;
    color: var(--grey);
    display: flex;
    font-size: calc(var(--internal-title-font-size)*var(--project-infos-font-size-ratio))
}

.project-title_infos__RbCF1>*+* {
    margin-left: 1.6em
}

.project-title_title___vVwO {
    font-family: var(--font-display);
    font-weight: 300;
    margin-left: var(--counter-width);
    margin-top: var(--project-title-margin-top,0)
}

.webgl-slider_section__0_uCZ {
    height: 100vh;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.webgl-slider_section__0_uCZ.webgl-slider_hidden__XWh_5 {
    visibility: hidden
}

.webgl-slider_prefetch__4_DC6 {
    display: none
}

.webgl-slider_texts_wrapper__zsBnq {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: center center;
    margin-top: calc(var(--gl-large-width-rounded)*9/16/2 + 3vh);
    width: var(--gl-large-width-rounded);
    text-align: center
}

.webgl-slider_texts_wrapper_item__HCIok {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 3.6111111111vw
}

.webgl-slider_infos_wrapper__96xyx {
    position: absolute;
    top: calc(50vh - var(--gl-large-width-rounded)*9/16/2);
    left: 50%;
    transform: translateX(-50%);
    transform-origin: center center;
    width: var(--gl-large-width-rounded)
}

.webgl-slider_infos_row__kly_X {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translate3d(0,-140%,2px)
}

.webgl-slider_title__hQNtD {
    --project-title-font-size: max(24px,1.6666666667vw)
}

@media(min-aspect-ratio: 16/9) {
    .webgl-slider_title__hQNtD {
        --project-title-font-size:5.7777777778vh;
        --project-counter-font-size-ratio: 0.15;
        --project-infos-font-size-ratio: 0.2;
        --project-counter-width-ratio: 6;
        --project-title-margin-top: -0.15em
    }
}

.webgl-slider_comingSoon__D0DLr {
    color: var(--red);
    font-size: max(8px,.4166666667vw);
    font-weight: 700;
    text-transform: uppercase
}

.webgl-slider_comingSoonText__9_X6w svg {
    display: inline-block;
    vertical-align: middle;
    color: var(--red);
    width: .3em;
    height: .3em;
    margin: 0 .6em .11em 0;
    overflow: visible
}

:where(:not(html,iframe,canvas,img,svg,video,audio):not(svg *,symbol *)) {
    all: unset;
    display: revert
}

*,:after,:before {
    box-sizing: border-box
}

a,button {
    cursor: pointer
}

menu,ol,ul {
    list-style: none
}

img {
    max-width: 100%;
    vertical-align: bottom
}

table {
    border-collapse: collapse
}

input,textarea {
    -webkit-user-select: auto
}

textarea {
    white-space: revert
}

meter {
    -webkit-appearance: revert;
    -moz-appearance: revert;
    appearance: revert
}

::placeholder {
    color: unset
}

:where([hidden]) {
    display: none
}

:where([contenteditable]:not([contenteditable=false])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto
}

:where([draggable=true]) {
    -webkit-user-drag: element
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit
}

@font-face {
    font-family: PP Telegraf;
    src: url(/fonts/PP\ Telegraf/PPTelegraf-Regular.woff2) format("woff2"),url(/fonts/PP\ Telegraf/PPTelegraf-Regular.woff) format("woff");
    font-display: swap;
    font-weight: 400
}

@font-face {
    font-family: PP Telegraf;
    src: url(/fonts/PP\ Telegraf/PPTelegraf-Bold.woff2) format("woff2"),url(/fonts/PP\ Telegraf/PPTelegraf-Bold.woff) format("woff");
    font-display: swap;
    font-weight: 700
}

:root {
    --white: #e8e2da;
    --white-transparent: hsla(34,23%,88%,0);
    --white-true: #fff;
    --white-true-transparent: hsla(0,0%,100%,0);
    --black: #0d0d0d;
    --black-transparent: hsla(0,0%,5%,0);
    --red: #ee3d34;
    --red-transparent: rgba(238,61,52,0);
    --grey: #9f9f9f;
    --grey-transparent: hsla(0,0%,62%,0);
    --greige-light: #c9c0b5;
    --greige-light-transparent: hsla(33,16%,75%,0);
    --greige: #b5aa9c;
    --greige-transparent: hsla(34,14%,66%,0);
    --greige-dark: #7e7366;
    --greige-dark-transparent: hsla(33,11%,45%,0);
    --brown: #9a8b83;
    --brown-transparent: hsla(21,10%,56%,0)
}

:root .color-white {
    color: #e8e2da
}

:root .color-white-true {
    color: #fff
}

:root .color-black {
    color: #0d0d0d
}

:root .color-red {
    color: #ee3d34
}

:root .color-grey {
    color: #9f9f9f
}

:root .color-greige-light {
    color: #c9c0b5
}

:root .color-greige {
    color: #b5aa9c
}

:root .color-greige-dark {
    color: #7e7366
}

:root .color-brown {
    color: #9a8b83
}

:root {
    --ease-in-quad: cubic-bezier(0.55,0.085,0.68,0.53);
    --ease-in-cubic: cubic-bezier(0.55,0.055,0.675,0.19);
    --ease-in-quart: cubic-bezier(0.895,0.03,0.685,0.22);
    --ease-in-quint: cubic-bezier(0.755,0.05,0.855,0.06);
    --ease-in-expo: cubic-bezier(0.95,0.05,0.795,0.035);
    --ease-in-circ: cubic-bezier(0.6,0.04,0.98,0.335);
    --ease-out-quad: cubic-bezier(0.25,0.46,0.45,0.94);
    --ease-out-cubic: cubic-bezier(0.215,0.61,0.355,1);
    --ease-out-quart: cubic-bezier(0.165,0.84,0.44,1);
    --ease-out-quint: cubic-bezier(0.23,1,0.32,1);
    --ease-out-expo: cubic-bezier(0.19,1,0.22,1);
    --ease-out-circ: cubic-bezier(0.075,0.82,0.165,1);
    --ease-in-out-quad: cubic-bezier(0.455,0.03,0.515,0.955);
    --ease-in-out-cubic: cubic-bezier(0.645,0.045,0.355,1);
    --ease-in-out-quart: cubic-bezier(0.77,0,0.175,1);
    --ease-in-out-quint: cubic-bezier(0.86,0,0.07,1);
    --ease-in-out-expo: cubic-bezier(1,0,0,1);
    --ease-in-out-circ: cubic-bezier(0.785,0.135,0.15,0.86);
    --layout-columns-count: 6;
    --layout-columns-gap: 4.1025641026vw;
    --layout-margin: 6.1538461538vw;
    --layout-width: calc(100vw - (2 * var(--layout-margin)));
    --layout-column-width: calc((var(--layout-width) - ((var(--layout-columns-count) - 1) * var(--layout-columns-gap))) / var(--layout-columns-count))
}

@media(min-width: 800px) {
    :root {
        --layout-columns-count:16;
        --layout-columns-gap: 0.8333333333vw;
        --layout-margin: 2.7777777778vw
    }
}

.layout-block,.layout-grid {
    max-width: var(--layout-width);
    margin-left: auto;
    margin-right: auto
}

.layout-block-inner,.layout-grid-inner {
    padding-left: var(--layout-margin);
    padding-right: var(--layout-margin)
}

.layout-grid,.layout-grid-inner {
    display: grid;
    grid-template-columns: repeat(var(--layout-columns-count),minmax(0,1fr));
    grid-gap: var(--layout-columns-gap)
}

.aspect-ratio {
    position: relative;
    padding-bottom: calc(100%/var(--aspect-ratio));
    width: 100%;
    height: 0
}

.aspect-ratio>:first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw
}

.hidden-overflow {
    overflow: hidden
}

.relative {
    position: relative
}

@media(min-width: 800px) {
    .hide-on-desktop {
        display:none
    }
}

@media(max-width: 800px) {
    .hide-on-mobile {
        display:none
    }
}

html.has-scroll-smooth .hide-on-smooth-scroll,html:not(.has-scroll-smooth) .hide-on-native-scroll {
    display: none
}

:root {
    --font-display: "freightdispcmp-pro",serif;
    --font-base: "PP Telegraf",sans-serif
}

.font-base {
    font-family: PP Telegraf,sans-serif
}

.font-display {
    font-family: freightdispcmp-pro,serif
}

.font-numeric-default {
    font-feature-settings: normal;
    font-variant-numeric: normal
}

.theme-light,.theme-white {
    --theme-primary: #fff;
    --theme-primary-transparent: hsla(0,0%,100%,0);
    --theme-secondary: #0d0d0d;
    --theme-secondary-transparent: hsla(0,0%,5%,0);
    --theme-contrast: #ee3d34;
    --theme-contrast-transparent: rgba(238,61,52,0);
    --theme-line: #b5aa9c;
    --theme-line-transparent: hsla(34,14%,66%,0)
}

.theme-dark {
    --theme-primary: #0d0d0d;
    --theme-primary-transparent: hsla(0,0%,5%,0);
    --theme-secondary: #e8e2da;
    --theme-secondary-transparent: hsla(34,23%,88%,0);
    --theme-contrast: #ee3d34;
    --theme-contrast-transparent: rgba(238,61,52,0)
}

.theme-greige {
    --theme-primary: #b5aa9c;
    --theme-primary-transparent: hsla(34,14%,66%,0);
    --theme-secondary: #7e7366;
    --theme-secondary-transparent: hsla(33,11%,45%,0);
    --theme-contrast: #ee3d34;
    --theme-contrast-transparent: rgba(238,61,52,0);
    --theme-line: #7e7366;
    --theme-line-transparent: hsla(33,11%,45%,0)
}

.theme-red {
    --theme-primary: #ee3d34;
    --theme-primary-transparent: rgba(238,61,52,0);
    --theme-secondary: #0d0d0d;
    --theme-secondary-transparent: hsla(0,0%,5%,0);
    --theme-contrast: #0d0d0d;
    --theme-contrast-transparent: hsla(0,0%,5%,0);
    --theme-line: #0d0d0d;
    --theme-line-transparent: hsla(0,0%,5%,0)
}

.theme-brown {
    --theme-primary: #9a8b83;
    --theme-primary-transparent: hsla(21,10%,56%,0);
    --theme-secondary: #0d0d0d;
    --theme-secondary-transparent: hsla(0,0%,5%,0);
    --theme-contrast: #0d0d0d;
    --theme-contrast-transparent: hsla(0,0%,5%,0);
    --theme-line: #7e7366;
    --theme-line-transparent: hsla(33,11%,45%,0)
}

.theme-brown-line-light {
    --theme-primary: #9a8b83;
    --theme-primary-transparent: hsla(21,10%,56%,0);
    --theme-secondary: #0d0d0d;
    --theme-secondary-transparent: hsla(0,0%,5%,0);
    --theme-contrast: #0d0d0d;
    --theme-contrast-transparent: hsla(0,0%,5%,0);
    --theme-line: #b5aa9c;
    --theme-line-transparent: hsla(34,14%,66%,0)
}

.theme-consumer {
    background-color: var(--theme-primary);
    color: var(--theme-secondary)
}

html:not(.dev) {
    scrollbar-width: none!important
}

html:not(.dev) body {
    -ms-overflow-style: none
}

html:not(.dev) body::-webkit-scrollbar {
    width: 0!important;
    height: 0!important
}

:root {
    --header-height: 88px;
    --landing-delay: 0s;
    --line-spacing: 4.1025641026vw;
    --gl-large-width: 77.037vh;
    --gl-large-width-rounded: 77.037vh;
    --shf: 4.9406564584124654e-324
}

@media(min-width: 800px) {
    :root {
        --header-height:6.8055555556vw;
        --line-spacing: 1.6666666667vw
    }
}

@media(min-width: 800px)and (max-width:1024px) {
    :root {
        --shf:1
    }
}

html {
    font-family: PP Telegraf,Arial,Helvetica,sans-serif;
    font-weight: 400;
    font-feature-settings: "pnum";
    font-variant-numeric: proportional-nums;
    scrollbar-width: thin;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased
}

html.lenis-stopped {
    overflow: hidden
}

html.is-hovering {
    cursor: pointer
}

@media(min-width: 800px) {
    html[data-route=home] {
        --landing-delay:2s
    }
}

@media(max-width: 800px) {
    html[data-route=home] {
        --landing-delay:0.8s
    }
}

html.has-custom-cursor,html.has-custom-cursor *,html.has-custom-cursor:after,html.has-custom-cursor:before {
    cursor: url(/images/cursor/base.svg),auto
}

html.has-custom-cursor.is-cursor-active,html.has-custom-cursor.is-cursor-active *,html.has-custom-cursor.is-cursor-active:after,html.has-custom-cursor.is-cursor-active:before,html.has-custom-cursor.is-ee-active,html.has-custom-cursor.is-ee-active *,html.has-custom-cursor.is-ee-active:after,html.has-custom-cursor.is-ee-active:before {
    cursor: none!important
}

body,html {
    overscroll-behavior: none
}

body {
    min-height: 100vh;
    min-height: 100svh
}

a,button,input,label,select,textarea {
    color: inherit;
    cursor: pointer
}

::selection {
    background-color: var(--black);
    color: var(--white)
}

svg.icon circle[fill],svg.icon path[fill],svg.icon rect[fill] {
    fill: currentColor
}

svg.icon circle[stroke],svg.icon path[stroke],svg.icon rect[stroke] {
    stroke: currentColor
}

#full-vh {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 100vh
}

.block {
    display: block
}

.underline {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: .2777777778vw
}

@media(max-width: 800px) {
    .underline {
        text-decoration-thickness:1px;
        text-underline-offset: 1.5384615385vw
    }
}

em {
    font-style: italic
}

.red {
    color: var(--red)
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0
}

.u-lh-reset {
    line-height: 0
}

.br-like {
    display: block
}

.u-no-br br {
    content: ""
}

.u-no-br br:after {
    content: " "
}

.u-no-br .br-like {
    display: inline
}

.u-no-br .br-like:after {
    content: " "
}

@media(max-width: 800px) {
    .u-no-br-mobile br {
        content:""
    }

    .u-no-br-mobile br:after {
        content: " "
    }

    .u-no-br-mobile .br-like {
        display: inline
    }

    .u-no-br-mobile .br-like:after {
        content: " "
    }
}

.u-slide-linked {
    --cp-x: calc(var(--clip-path-x, 999px) * -1);
    --cp-y: calc(var(--cp-x) / var(--aspect-ratio));
    -webkit-clip-path: inset(0 var(--cp-x) var(--cp-y) 0);
    clip-path: inset(0 var(--cp-x) var(--cp-y) 0);
    will-change: clip-path
}

.u-slide-linked:not([style*=clip-path]) {
    -webkit-clip-path: inset(0 0 100% 0);
    clip-path: inset(0 0 100% 0)
}

.c-image.-full {
    height: auto
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none
}

.o-section-area {
    --section-spacing: 1.1111111111vw;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: var(--section-spacing)
}

@media(max-width: 800px) {
    .o-section-area {
        padding-left:var(--layout-margin);
        padding-right: var(--layout-margin)
    }
}

@media(min-width: 800px) {
    .o-section-area {
        max-width:var(--gl-large-width-rounded)
    }
}

.o-section-area.-no-pb {
    padding-bottom: 0
}

.o-section-area .o-section+.o-section {
    margin-top: var(--section-spacing)
}

.o-section-area .o-section.-full+.o-section.-full,.o-section-area .o-section.-padding+.o-section-area .o-section.-padding {
    --section-spacing: 0
}

@media(max-width: 800px) {
    .o-section-area {
        --section-spacing:4.1025641026vw
    }
}

.o-link-underline {
    position: relative;
    text-decoration: none;
    --underline-gap: -0.1em
}

.o-link-underline:after {
    content: "";
    background: currentColor;
    position: absolute;
    bottom: var(--underline-gap,0);
    left: 0;
    right: 0;
    height: 1px;
    background-color: currentColor;
    transform-origin: right center;
    transition: transform 1s cubic-bezier(.23,1,.32,1);
    transform: scaleX(1)
}

@keyframes underline {
    0% {
        transform-origin: right center;
        transform: scaleX(1)
    }

    49% {
        transform-origin: right center;
        transform: scaleX(0)
    }

    50% {
        transform-origin: left center;
        transform: scaleX(0)
    }

    to {
        transform-origin: left center;
        transform: scaleX(1)
    }
}

.o-link-underline.-is-active:after,.o-link-underline:hover:after {
    animation: underline 1s var(--ease-out-expo)
}

@keyframes arrowLinkHover {
    0% {
        transform: translate(0)
    }

    50% {
        transform: translate(100%,-100%)
    }

    51% {
        transform: translate(-100%,100%)
    }

    to {
        transform: translate(0)
    }
}

.o-link-arrow {
    display: inline-block;
    vertical-align: top;
    line-height: 1;
    position: relative;
    padding: 0 .4166666667vw 0 0
}

.o-link-arrow:first-child {
    border: 0
}

.o-link-arrow_arrow {
    color: var(--red);
    position: absolute;
    right: 0;
    bottom: .25em;
    width: .2777777778vw;
    height: .2083333333vw;
    overflow: hidden
}

.o-link-arrow_arrow-icon {
    display: block;
    width: 100%;
    height: 100%
}

.o-link-arrow:focus-within .o-link-arrow_arrow-icon,.o-link-arrow:hover .o-link-arrow_arrow-icon {
    animation: arrowLinkHover .6s cubic-bezier(.67,.19,0,.92) 0s 1 normal
}
